<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <style>
        .bgcolor{
            background-color: yellow;
            border: solid;
            border-width: 5px;
            border-color: black;
        }
    </style>
    <title>测试页面</title>
</head>
<body>
<h1>秒杀成功</h1>
<div class="row">
    <div class="col-md-4 bgcolor">你好hh</div>
    <div class="col-md-4 bgcolor">你好</div>
    <div class="col-md-4 bgcolor">你好</div>
</div>
</body>
</html>